/* iPhone mini */ 
@media only screen and (device-width: 375px) 
                   and (device-height: 812px) 
                   and (-webkit-device-pixel-ratio: 3) { 
    body {
        background-color: rgba(0, 0, 0, 0.4);
    }    
    
    #desktop {
        display: none !important;  
    } 
    
    #experimental-mobile-footer {
        bottom: 0.8%;
    }

    #decoy-button-iii {
        top: 72%;
    }    
}

/*iPhone 14*/
@media only screen and (width: 390px) 
                   and (device-height: 844px)
                   and (-webkit-device-pixel-ratio: 3) { 

}

/*iPhone 14 Pro*/
@media only screen and (width: 393px) 
                   and (device-height: 852px)
                   and (-webkit-device-pixel-ratio: 3) { 

}

/*iPhone 14 Pro Max*/
@media only screen and (device-width: 430px) 
                   and (device-height: 932px) 
                   and (-webkit-device-pixel-ratio: 3) { 

}

@media screen and (max-width: 800px) {
    body {
        background-color: rgba(0, 0, 0, 0.4);
    }    
    
    #desktop {
        display: none !important;  
    }
}

@media screen and (min-width: 801px) {
    body {
        background-color: #ffffff;
    }

    #mobile {
        display: none !important;
    }
    
    #experimental-mobile-device {
        display: none !important;
    }

    #experimental-mobile-footer {
        display: none !important;
    }
}

@media (orientation: landscape) {
    
}

@media (orientation: portrait) {
    div.experimental-nav {
        display: none !important;
    }
}


