@media screen and (max-width: 800px) {
    #desktop {
        display: none !important;  
    }
                
    .iframe-link {
        display: none !important;
    }                               
}

@media screen and (min-width: 801px) {
    #mobile {
        display: none !important;
    }
}

@media (orientation: landscape) {
    #rotate-alert {
        display: none !important;
    }
}

@media (orientation: portrait) {
    div.experimental-nav {
        display: none !important;
    }
}


