/* iPhone mini */ 
@media only screen and (device-width: 375px) 
                   and (device-height: 812px) 
                   and (-webkit-device-pixel-ratio: 3) { 
    body {
        background-color: rgba(0, 0, 0, 0.4);
    }    
    
    #desktop {
        display: none !important;  
    } 
    
    #experimental-mobile-footer {
        bottom: 0.8%;
    }    
}

@media screen and (max-width: 800px) {
    body {
        background-color: rgba(0, 0, 0, 0.4);
    }    
    
    #desktop {
        display: none !important;  
    }
}

@media screen and (min-width: 801px) {
    body {
        background-color: #ffffff;
    }

    #mobile {
        display: none !important;
    }
    
    #experimental-mobile-device {
        display: none !important;
    }

    #experimental-mobile-footer {
        display: none !important;
    }
}

@media (orientation: landscape) {
    
}

@media (orientation: portrait) {
    div.experimental-nav {
        display: none !important;
    }
}


